<div class="navigation">
	<a href="/properties/new"><button class="myButton">Back to Dashboard</button></a><br><br>
</div>

<div class="main_content">
	<div class="main_content_right">
		<h1>Property could not be logged</h1>

		<h3>The property entered was invalid. Please go back to the new property page and try entering the property again.<br><br><br></h3>

	</div>
</div>