<div class="navigation">
	<a href="/login"><button class="myButton">Login Again</button></a><br><br>
</div>

<div class="main_content">
	<div class="main_content_right">
		<h1>Login Failed</h1>

		<h3>The username and/or password you entered could not be found or may be incorrect. Please try logging in again.<br><br><br></h3>

	</div>
</div>