<div class="navigation">
	<a href="/"><button class="myButton">Back to main page</button></a>
	<a href="/dashboard/<%= @user.id %>"><button class="myButton">Back to User Dashboard</button></a><br><br>
</div>

<div class="main_content">
	<div class="main_content_right">

		<h1>Change User Password</h1>

		<form action="/users/<%= @user.id %>" method="post">
			<input type="hidden" name="_method" value="patch">

			<label>New Password: </label>
			<input type="password" name="password" value="<%= @user.password %>"><br><br>

			<input type="submit" value="Update User Password" style="height:40px;width:250px">
		</form><br><br>
		<!-- <div class="line">
		</div> -->
	</div>
</div>