
<div class="navigation">
	<a href="/login"><button class="myButton">Login Again</button></a>

	<a href="/"><button class="myButton">Go to rentals page</button></a><br><br>
</div>

<div class="main_content">
	<div class="main_content_right">
		<h1>Thank you for using mitbilik</h1>

		<h3>Please go to the main rentals page to view all rentals or Login again to book any rentals.<br><br><br></h3>
		
	</div>
</div>